name: release

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  CLICOLOR_FORCE: 1

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      release_workflow: true
      save_cache: ${{ github.event != 'release' }}
  publish:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      contents: write # necessary to publish to releases
    steps:
      - name: download CI artifacts
        id: download1
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          merge-multiple: true
      - name: enumerate (debug)
        run: |
          ls -l "${STEPS_DOWNLOAD1_OUTPUTS_DOWNLOAD_PATH}"
          tree "${STEPS_DOWNLOAD1_OUTPUTS_DOWNLOAD_PATH}"
        continue-on-error: true
        env:
          STEPS_DOWNLOAD1_OUTPUTS_DOWNLOAD_PATH: ${{ steps.download1.outputs.download-path }}
      - name: remove non-release artifacts
        run: rm -vf shader.spv *-raw.tar.gz
      - name: upload artifacts to gh release
        # Without a checkout, one must explicitly specify the repo to upload to (-R option).
        if: ${{ github.event.action == 'published' }}
        run: bash -xc 'gh release upload -R "${{ github.repository }}" "${GITHUB_REF_NAME}" ./*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
